{% extends 'base.html.twig' %}
 {% block title %}{{ event.title }}{% endblock %}

{% block body %} 
<h1>{{ event.title }}</h1>
<p>{{ event.description }}<p>
<hr>
<a href="/">Go Back</a>
{% endblock %}